[Unit]
Description=Hyprland
Documentation=https://hyprland.org/
After=systemd-user-sessions.service getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/Hyprland
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
